a.btn.btn-sm.btn-default.mark-button id="#{mark.id}" data-toggle="modal" data-note="#{mark.note}" data-id="#{mark.id}" data-target="#edit-mark" style="background-color: rgb(240,240,240)" 
  b = formatted_mark(mark)