a.btn.btn-primary.btn-link.btn-sm tabindex="0" data-toggle="popover" data-trigger="focus" title="#{mark.created_at.strftime('%d/%m/%Y')}" data-content="#{mark.try(:note).blank? ? 'Липсва коментар на оценката' : mark.note}" 
  h6 = formatted_mark(mark)