.home-page {
  .page-main {
    .moto {
      margin-top: 200px;
      .title {
        color: #3C4858;
        font-size: 1.5em;
      }
      .description {
        color: rgb(100,100,100);
        font-size: 1.2em;
      }
    }
    .laptop {
      padding-top: 100px;
    }
  }

  .page-services {

    .secure, .intuitive {
      padding: 20px;
      border-radius: 4px;
      text-align: center;
      overflow: auto;
      -webkit-transition: all 1s; /* Safari */
      transition: all 1s;

      i, svg {
        color: rgb(220,220,220);
        font-size: 4em;
      }

      .title {
        font-size: 1.3em;
      }

      .description {
        color: rgb(150,150,150);
        -webkit-transition: all 1s; /* Safari */
        transition: all 1s;
      }
    }

    .service.content {
      padding: 15px 10px;
      text-align: center;

      i, svg {
        font-size: 2em;
        margin-top: 40px;
        color: rgb(220,220,220);
      }
    }
  }

  .page-documentation {

    background: linear-gradient(0deg,rgba(157, 27, 183,0.5),rgba(127, 0, 165,0.5)), image-url("parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    padding: 60px 0px;

    .documentation, .blog, .forum {
      background-color: rgba(255,255,255,0.8);
      padding: 20px;
      border-radius: 4px;
      text-align: center;
      overflow: auto;
      -webkit-transition: all 0.5s; /* Safari */
      transition: all 0.5s;

      i, svg {
        color: #3C4858;
        font-size: 4em;
      }

      .title {
        font-size: 1.3em;
      }

      .description {
        color: rgb(150,150,150);
        -webkit-transition: all 0.5s; /* Safari */
        transition: all 0.5s;
      }
    }

    .documentation:hover, .blog:hover, .forum:hover {
      -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
      box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
      background-color: rgb(250,250,250);
      -webkit-transition: all 1s; /* Safari */
      transition: all 1s;
      cursor: pointer;

      .description {
        color: rgb(100,100,100);
        -webkit-transition: all 0.5s; /* Safari */
        transition: all 0.5s;
      }
    }

    .forum, .blog {
      margin-top: 20px;
    }
  }

  .page-contacts {
    background-color: rgb(250,250,250);
  }
}



@media only screen and (max-width: 768px) {
  .home-page {

    .section-title {
      font-size: 2em;
    }

    .page-main {

      .moto {
        text-align: center;
        margin-top: 50px;
        .title {
          color: white;
          font-size: 2.1em;
          line-height: 2em;
        }
        .description {
          color: rgb(245,245,245);
          font-size: 1.7em;
          line-height: 2em;
        }
      }
      .laptop {
        padding-top: 30px;
      }
    }

    .page-services {

      .secure, .intuitive {
        .title {
          font-size: 1.8em;
        }
        .description {
          font-size: 1.6em;
          line-height: 1.5em;
        }
      }

      .service.content {

        i {
          font-size: 2em;
        }
        .title {
          font-size: 1.7em;
        }

        .description {
          font-size: 1.5em;
        }
      }
    }
  }
}



