a.dropdown-item href="#"  Mike John responded to your email
a.dropdown-item href="#"  You have 5 new tasks
a.dropdown-item href="#"  You're now friend with Andrew
a.dropdown-item href="#"  Another Notification
a.dropdown-item href="#"  Another One