@import "font-awesome";
@import "material/material-dashboard";
@import "time_slots";
@import "messages";
@import "absences";

.no-margin{
  margin-top: 0px !important;
}
.hidden {
  display: none;
}
table.table-hover td.hover {
  background-color: #f5f5f5;
}
.logo a h3{
  position: absolute;
  top: 0px;
  left: 25px;
}
.icon.icon-rose {
  color: #e91e63;
}
.icon.icon-primary {
  color: #9c27b0;
}
.icon.icon-info {
  color: #00bcd4;
}
.content.main-content {
  padding-top: 0px;
}
.collapse.navbar-collapse .nav-item .nav-link {
  font-weight: 500;
}
.alert.fixed-top {
  position: fixed;
  top: 20px;
  width: 80vw;
  text-align: center;
  left: 10vw;
  font-weight: bold;
}
