@import "font-awesome";
@import "material/material-dashboard";
@import "time_slots";
@import "messages";

.no-margin{
  margin-top: 0px !important;
}

.hidden {
  display: none;
}

table.table-hover td.hover {
  background-color: #f5f5f5;
}
